table,td{
    text-align: center;
    margin: auto;
    
}
table
{
    width: 1002px;
  
}
.mainimg{
    margin: auto;
    text-align: center;
}
body{
    background-color: rgb(144, 163, 112);
}